/* цвет голубой в хэдере 1#2196F3;
   цвет черный в хэдере 2#212121;
   цвет cерый в хэдере 3#757575; 
   цвет webstudio в хэдере 1#2196F3 #000000;
   фон белый


   цвет эффективные решения #FFFFFF;
   цвет кнопки #2196F3 #FFFFFF;
   фон background: #2F303A;


   заголовки  #212121;
   текcт #757575;

   фон Наша команда  #F5F4FA;


   футер  цвет webstudio #2196F3 #FFFFFF; 
   адреc #FFFFFF;
   мыло, тел  #FFFFFF99 60% прозрач;
   фон футер #2F303A;

  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --studio-color: #000000;
  --background-team-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --address-color: #ffffff99;

*/

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --light-color: #ffffff;
  --dark-color: #000000;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --address-color: #ffffff99;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.18;
  color: var(--primary-text-color);
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color);
}

.hero {
  height: 600px;
  width: 1600px;
  border-radius: 0px;
  background-color: var(--primary-background-color);
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.list {
  list-style-type: none;
}

.link,
.portfolio-link {
  text-decoration: none;
}

.footer .logo {
  color: var(--light-color);
}

.footer {
  background-color: var(--primary-background-color);
}

.navigation-link,
.contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  margin-right: 50px;
}

.contacts-link {
  color: var(--primary-text-color);
}

.navigation-link {
  color: var(--secondary-text-color);
}

.link:hover,
.link:focus,
.current {
  color: var(--accent-color);
}

.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--light-color);
  background-color: var(--accent-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.footer-link,
.footer-address {
  font-style: normal;
  color: var(--address-color);
}

.filters-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.filters-btn:hover,
.filters-btn:focus {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--light-color);
  background-color: var(--accent-color);
  border: 0;
}

.header,
.navigation,
.navigation-list.list,
.contacts.list,
.work-list,
.filtres-list,
.features-list,
.team-list {
  display: flex;
}

.team-item,
.work-img {
  margin-right: 30px;
}

.footer {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

.team {
  background-color: var(--secondary-background-color);
}

.team-title,
.work-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.features-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.team-title-card {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.footer-first {
  color: var(--light-color);
}

.portfolio-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--secondary-text-color);
}

.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-text-color);
}
